@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
$themes: (
  light: (
    backgroundColor: white,
    fontFamily: "Avenir",
    fontTwo: "Montserrat",
    textColor: black,
    headerColor: #3f3f49,
    buttonTextColor: #408bbd,
    button1: #e62d35,
    button2: #3f3f49,
    buttonBackgroundColor: #1db954,
    buttonTextTransform: none,
    buttonTextHoverColor: #61b0e7,
    buttonColor: gray,
    buttonBorder: 2px solid #fff,
    logo:
      "https://res.cloudinary.com/dxrvvjvpf/image/upload/v1560824922/paint-brush-heart-png.png",
    headerImg:
      "https://d2qwzu24wcp0pu.cloudfront.net/purecollection/landing/SS18/sweater%20buying%20guide/9421503f.24342_Pure_Sweater_guide-v3_aimee_02.png/1176x440.fit.24342_Pure_Sweater_guide-v3_aimee_02.png",
    direction: left
  ),
  dark: (
    // backgroundColor: #252d2d,
      backgroundColor: #000000,
    fontFamily: "Roboto",
    fontTwo: "Nunito Sans",
    textColor: black,
    headerColor: white,
    buttonTextColor: #aaa,
    button1: #3a5b92,
    button2: #f87642,
    buttonBackgroundColor: #f87642,
    buttonTextTransform: uppercase,
    buttonTextHoverColor: #ddd,
    buttonColor: #333,
    buttonBorder: 1px solid #aaa,
    logo:
      "https://res.cloudinary.com/dxrvvjvpf/image/upload/v1560548285/CRYPT.png",
    headerImg:
      "https://images.ctfassets.net/bdvz0u6oqffk/2p4LaYSsfhSiUxLJTonSNg/5d8c45359311c98d580d960ae1d7a8c0/search-cta-hero-D.jpg?fm=webp",
    direction: right
  )
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    &.theme-#{$theme} {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

.App {
  @include themify($themes) {
    // global styles
    font-family: themed("fontFamily"), "Arial";
    font-weight: 400;
    color: themed("textColor");
    background-color: themed("backgroundColor");

    ul,
    li {
      list-style: none;
    }
    img {
      max-width: 100%;
    }

    h1,
    h2,
    h3 {
      font-family: themed("fontTwo");
      font-weight: 700;
    }

    .theme-button {
      background-color: transparent;
      border: none;
      float: right;
      height: 50px;
      width: 50px;
      float: right;
      display: inline;
      cursor: pointer;
      margin-right: 25px;
    }

    button {
      cursor: pointer;
      height: 50px;
      padding: 15px 35px 16px;
      /* border-radius: 2px; */
      font-family: themed("fontFamily"), sans-serif;
      font-weight: 600;
      font-size: 16px;
      text-transform: uppercase;
      background-color: #f7323f;
      border: solid 2px #464e54;
      color: #464e54;
      background: none;
      button:hover {
        background-color: themed("button1");
      }
    }

    // Header Styles
    div.logo {
      content: url(themed("logo"));
      height: 50px;
      position: relative;
      top: 25px;
      left: 27px;
    }

    .hero-wrapper {
      background-image: url(themed("headerImg"));
      background-size: cover;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }
    .hero-image-container {
      margin: 97px 0;
    }

    .hero-details {
      float: left;
      width: 45%;
      margin-left: 60px;
      margin-top: 30px;
      margin: 30px 0 30px 60px;
      color: themed("headerColor");
    }

    .hero-button {
      margin: 10px 0;
    }

    .hero-button button:first-of-type {
      // margin-left: 25px;
      margin-right: 10px;

      font-size: 1em;

      background: themed("button1");
      padding: 10px 10px;
      width: 40%;
      border-radius: 3px;
      color: white;
      border: none;
    }

    .hero-button button:last-of-type {
      font-family: themed("fontTwo");
      font-size: 1em;
      background: themed("button2");
      padding: 10px 10px;
      width: 40%;
      border-radius: 3px;
      color: white;
      border: none;
    }

    // Basket Styles
    .show-basket {
      width: 20%;
      /* box-shadow: 0 0 17px 5px rgba(39, 43, 55, 0.15); */
      box-shadow: 0 2px 55px rgba(0, 0, 0, 0.1);
      background: white;
      float: themed("direction");
    }

    .remove-btn {
      border-radius: 100%;
      background: themed("button1");
      color: white;
      font-size: 1em;
      padding: 4px 8px 4px 8px;
      border: none;
    }

    .add-btn {
      margin-top: 10px;
      width: 100%;
      height: 36px;
      border-radius: 2px;
      text-align: center;
      color: #fff;
      background: #077915;
      border: 0;
      font-weight: 400;
      padding: 0 16px;
      font-family: inherit;
      font-size: inherit;
      cursor: pointer;

      &:hover {
        background-color: themed("button1");
      }
    }

    .clearfix:after {
      display: table;
      content: "";
      clear: both;
    }

    .product-wrapper {
      width: 95%;
      margin: 20px auto;
    }

    .basket-header {
      text-align: left;
      padding: 9px;
      margin: 3px 14px;
    }

    .cart-list {
      list-style: none;
      margin: 0;
      font-size: 14px;
      padding: 0 9px;
    }

    .cart-list li.active {
      color: #e62d35;
    }

    .cart-list li {
      padding: 16px;
    }

    .product-container {
      width: 75%;
      float: left;
      margin-left: 2%;
    }

    @media screen and (max-width: 812px) {
      .hero-details {
        width: 65%;
        float: none;
      }
      .showlist_container {
        width: 68%;
      }
    }

    @media screen and (max-width: 615px) {
      .show-basket {
        display: none;
      }

      .showlist_container {
        width: 99%;
      }
    }

    .Items {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
      // background-color: rgb(247, 247, 247);
    }

    .Item {
      margin: 10px;
      border-radius: 4px;
      width: 225px;
      min-height: 230px;
      // background: #fff;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 20px;
      //
      // box-shadow: 0 2px 55px rgba(0, 0, 0, 0.1);

      @media (max-width: 1050px) {
        width: 48%;
      }
      @media (max-width: 600px) {
        width: 100%;

        margin-bottom: 10px;
      }
    }

    .Item__title {
      text-align: center;
      font-size: 1em;
      font-weight: 700;
      color: themed("headerColor");
      width: 90%;
      margin: 20px auto 0;
      text-transform: uppercase;
    }

    .Item__price {
      text-align: center;
      color: themed("headerColor");
      font-size: 0.9em;
      margin-top: 10px;
    }

    .Image {
      width: 100%;
      height: auto;
      position: relative;
      z-index: 1;
    }
    .mybuttonoverlap {
      position: absolute;
      z-index: 2;
      top: 150px;
      display: none;
      left: 25px;
      background-color: white;
    }
    .Image:hover .mybuttonoverlap {
      display: block;
    }
  }
}
