$themes: (
  light: (
    backgroundColor: white,
    fontFamily: "Avenir",
    textColor: black,
    headerColor: #3f3f49,
    buttonTextColor: #408bbd,
    button1: #e62d35,
    button2: #3f3f49,
    buttonBackgroundColor: #1db954,
    buttonTextTransform: none,
    buttonTextHoverColor: #61b0e7,
    buttonColor: gray,
    buttonBorder: 2px solid #fff,
    logo: "http://cdn.shopify.com/s/files/1/1801/2825/t/18/assets/logo.png?10",
    headerImg:
      "https://d2qwzu24wcp0pu.cloudfront.net/purecollection/landing/SS18/sweater%20buying%20guide/9421503f.24342_Pure_Sweater_guide-v3_aimee_02.png/1176x440.fit.24342_Pure_Sweater_guide-v3_aimee_02.png",
    direction: left
  ),
  dark: (
    // backgroundColor: #252d2d,
      backgroundColor: #000000,
    fontFamily: "Roboto",
    textColor: black,
    headerColor: white,
    buttonTextColor: #aaa,
    button1: #3a5b92,
    button2: #f87642,
    buttonBackgroundColor: #f87642,
    buttonTextTransform: uppercase,
    buttonTextHoverColor: #ddd,
    buttonColor: #333,
    buttonBorder: 1px solid #aaa,
    logo:
      "https://res.cloudinary.com/dxrvvjvpf/image/upload/v1560548285/CRYPT.png",
    headerImg:
      "https://images.ctfassets.net/bdvz0u6oqffk/2p4LaYSsfhSiUxLJTonSNg/5d8c45359311c98d580d960ae1d7a8c0/search-cta-hero-D.jpg?fm=webp",
    direction: right
  )
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    &.theme-#{$theme} {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

.App {
  @include themify($themes) {
    // global styles
    font-family: themed("fontFamily");
    color: themed("textColor");

    // component styles

    background-color: themed("backgroundColor");

    .button {
      color: themed("buttonColor");
      background-color: themed("buttonBackgroundColor");
    }
    div.logo {
      content: url(themed("logo"));
      height: 50px;
      position: relative;
      top: 25px;
      left: 27px;
    }

    .hero_wrapper {
      background-image: url(themed("headerImg"));
      background-size: cover;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }
    .hero_image_container {
      margin: 97px 0;
    }

    .hero__details {
      float: left;
      width: 45%;
      margin-left: 60px;
      margin-top: 30px;
      margin: 30px 0 30px 60px;
      color: themed("headerColor");
    }

    .hero_button_container {
      margin: 10px 0;
    }

    .hero_button_container button:first-of-type {
      // margin-left: 25px;
      margin-right: 10px;

      font-size: 1em;
      font-family: themed("fontFamily");
      background: themed("button1");
      padding: 10px 10px;
      width: 40%;
      border-radius: 3px;
      color: white;
      border: none;
    }

    .hero_button_container button:last-of-type {
      font-family: themed("fontFamily");
      font-size: 1em;
      background: themed("button2");
      padding: 10px 10px;
      width: 40%;
      border-radius: 3px;
      color: white;
      border: none;
    }

    .showfilter {
      width: 20%;
      /* box-shadow: 0 0 17px 5px rgba(39, 43, 55, 0.15); */
      box-shadow: 0 2px 55px rgba(0, 0, 0, 0.1);
      background: white;
      float: themed("direction");

      // margin-left: 23px;
    }

    .remove-btn {
      border-radius: 100%;
      background: themed("button1");
      color: white;
      font-size: 1em;
      padding: 9px;
      border: none;
    }
  }
}
.theme-button {
  background-color: transparent;
  border: none;
  float: right;
}

ul,
li {
  list-style: none;
}
img {
  max-width: 100%;
}

button {
  cursor: pointer;
  height: 50px;
  padding: 15px 35px 16px;
  /* border-radius: 2px; */
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #f7323f;
  border: solid 2px #464e54;
  color: #464e54;
  background: none;
}

.add-btn {
  margin-top: 10px;
  width: 100%;
  height: 36px;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  background: #077915;
  border: 0;
  font-weight: 400;
  padding: 0 16px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;

  &:hover {
    background-color: #000;
  }
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

.product_wrapper {
  width: 95%;
  margin: 20px auto;
}

.filterheader {
  text-align: left;
  padding: 9px;
  margin: 3px 14px;
}

.browser__list {
  list-style: none;
  margin: 0;
  font-size: 14px;
  padding: 0 9px;
}

.browser__list li.active {
  color: #e62d35;
}

.browser__list li {
  padding: 16px;
}
.showlist_search {
  text-align: center;
  margin: 4px;
}

.showlist__item {
  width: 25%;
  box-shadow: 0 0 17px 5px rgba(39, 43, 55, 0.15);
  float: right;
  margin-left: 3%;
  margin-bottom: 1em;
  height: 45%;
}

.showlist_search input {
  display: block;
  width: 92%;
  padding: 9px 5px;
  border: 1px solid #ddd;
  outline: none;
  box-shadow: 0 0 30px rgba(39, 43, 55, 0.15);
  border-radius: 3px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

.product_container {
  width: 75%;
  float: left;
  margin-left: 2%;
}

.showlist_item_detail h3 {
  font-size: 16px;
}

.showlist_item_detail {
  background: white;
  padding: 9px;
  font-size: 13px;
  line-height: 1.5;
  color: #111;
}

@media screen and (max-width: 812px) {
  .hero__details {
    width: 83%;
    float: none;
  }
  .showlist_container {
    width: 68%;
  }
}

@media screen and (max-width: 615px) {
  .showfilter {
    display: none;
  }
  .showlist_container {
    width: 99%;
  }
}

.Items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  // background-color: rgb(247, 247, 247);
}

.Item {
  // background-color: white;

  margin: 10px;
  border-radius: 4px;
  width: 225px;
  min-height: 230px;
  // background: #fff;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  //
  // box-shadow: 0 2px 55px rgba(0, 0, 0, 0.1);

  @media (max-width: 1050px) {
    width: 48%;
  }
  @media (max-width: 600px) {
    width: 100%;

    margin-bottom: 10px;
  }
}

.Item__title {
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  color: #555;
  width: 90%;
  margin: 20px auto 0;
}

.Item__price {
  text-align: center;
  font-size: 0.9em;
  margin-top: 10px;
  color: #777;
}

.ImageContainer {
  width: 100%;
  height: auto;
}

.Image {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}
.mybuttonoverlap {
  position: absolute;
  z-index: 2;
  top: 150px;
  display: none;
  left: 25px;
  background-color: white;
}
.Image:hover .mybuttonoverlap {
  display: block;
}
